<div class="modal fade" id="servers-popup" tabindex="-1" role="dialog" aria-hidden="true" data-toggle="modal"
     data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0" id="servers-popup-title"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="servers-form">
                    <div class="form-group">
                        <label for="server-name" class="col-form-label">Name:</label>
                        <input type="text" class="form-control" id="server-name" placeholder="my-favourite-server">
                    </div>
                    <div class="form-group">
                        <label for="server-host" class="col-form-label">Host:</label>
                        <input type="text" class="form-control" id="server-host" placeholder="localhost">
                    </div>
                    <div class="form-group">
                        <label for="server-port" class="col-form-label">Port:</label>
                        <input type="number" min="0" max="65535" class="form-control" id="server-port"
                               placeholder="9092">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-mediumblue" id="servers-popup-btn"></button>
                <button class="btn btn-outline-danger" id="servers-popup-delete-btn">Delete</button>
            </div>
        </div>
    </div>
</div>