<div class="modal fade" id="templates-popup" tabindex="-1" role="dialog" aria-hidden="true" data-toggle="modal"
     data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0" id="templates-popup-title"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="servers-form">
                    <div class="form-group">
                        <label for="template-name" class="col-form-label">Name:</label>
                        <input type="text" class="form-control" id="template-name" placeholder="my-favourite-template">
                    </div>
                    <div class="form-group">
                        <label for="template-server" class="col-form-label">Server:</label>
                        <select class="form-select" id="template-server"></select>
                    </div>
                    <div class="form-group">
                        <label for="template-topic" class="col-form-label">Topic:</label>
                        <select class="form-select" id="template-topic"></select>
                    </div>
                    <div class="form-group">
                        <label for="template-content" class="col-form-label">Content:</label>
                        <!--suppress HtmlFormInputWithoutLabel -->
                        <textarea id="template-content" class="form-control scrollbar-blue"
                                  placeholder='{&#13;&#9;"url": "/api/hello",&#13;&#9;"data": "Type your JSON here",&#13;&#9;"hints": {&#13;&#9;&#9;"hint1": "{identifier} -> <random number>",&#13;&#9;&#9;"hint2": "{datetime} -> <current datetime>",&#13;&#9;&#9;"hint3": "This window is scrollable btw..."&#13;&#9;}&#13;}'></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-mediumblue" id="templates-popup-btn"></button>
                <button class="btn btn-outline-danger" id="templates-popup-delete-btn">Delete</button>
            </div>
        </div>
    </div>
</div>
