<div class="modal fade" id="topics-popup" tabindex="-1" role="dialog" aria-hidden="true" data-toggle="modal"
     data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0" id="topics-popup-title"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="servers-form">
                    <div class="form-group">
                        <label for="topic-server" class="col-form-label">Server:</label>
                        <select class="form-select" id="topic-server"></select>
                    </div>
                    <div class="form-group">
                        <label for="topic-name" class="col-form-label">Name:</label>
                        <input type="text" class="form-control" id="topic-name" placeholder="my-favourite-topic">
                    </div>
                    <div class="form-group">
                        <label for="topic-partition-count" class="col-form-label">Partitions:</label>
                        <input type="number" min="1" max="4000" class="form-control" id="topic-partition-count"
                               placeholder="topic partitions count">
                    </div>
                    <div class="form-group">
                        <label for="topic-replica-count" class="col-form-label">Replicas:</label>
                        <input type="number" min="1" max="4000" class="form-control" id="topic-replica-count"
                               placeholder="topic replicas count">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-mediumblue" id="topics-popup-btn"></button>
                <button class="btn btn-outline-danger" id="topics-popup-delete-btn">Delete</button>
            </div>
        </div>
    </div>
</div>
