.servers-window, .topics-window {
    width: 100%;
    max-height: 20vh;
}

#servers-list, #topics-list {
    max-height: calc(20vh - 55px);
}

#servers-list::-webkit-scrollbar, #topics-list::-webkit-scrollbar {
    display: none;
}

.messages-window, .templates-window {
    height: 100%;
}

#messages-table, #templates-table {
    max-height: calc(35vh - 55px);
}

.log-window {
    height: calc(20vh + 5px + 5px + 35vh);
}

.window h5 {
    color: azure;
    margin-left: 5px;
}

.window {
    border: 1px solid mediumblue;
    border-radius: 15px;
    margin: 5px;
    padding: 10px;
    background-color: mediumblue;
}

#messages-table, #templates-table {
    overflow-y: scroll;
    padding-top: 5px;
}

.message-card, .template-card {
    height: 100%;
    max-height: 300px;
    border: 3px solid mediumblue;
    border-radius: 10px;
    cursor: pointer;
}

.message-card:hover, .template-card:hover {
    border: 3px solid white;
    border-radius: 10px;
}

.message-card-body, .template-card-body {
    padding: 3px;
}

.message-name, .template-name {
    font-size: 14px;
    color: mediumblue;
    margin-bottom: 0;
}

.message-content, .template-content {
    overflow-x: scroll;
    overflow-y: scroll;
    white-space: pre;
    font-size: 1vh;
    display: block;
    padding-bottom: 5px;
    max-height: 150px;
}

.message-content::-webkit-scrollbar, .template-content::-webkit-scrollbar {
    display: none;
}

.template-host {
    margin-bottom: 0;
}

#message {
    height: calc(35vh - 30px - 70px);
    font-size: small;
    resize: none;
}

#message-content, #template-content {
    height: 25vh;
    font-size: small;
}

#publish-btn {
    width: 30%;
    background-color: mediumblue;
    color: azure;
    border: 3px solid azure;
    font-weight: 500;
    font-size: 1.25rem;
    margin-bottom: .5rem;
}

#publish-btn:hover, #publish-btn.clicked {
    background-color: azure;
    color: mediumblue;
}

#publish-btn.clicked {
    cursor: default;
}

#publish-btn:focus {
    box-shadow: none;
}

#log {
    height: calc(20vh + 5px + 5px + 35vh - 30px - 24px);
    background-color: mediumblue;
    color: white;
    font-size: x-small;
    resize: none;
}

#log:focus {
    box-shadow: none;
}

.btn-add {
    height: 30px;
    width: 30px;
    font-size: 1.25rem;
    font-weight: 500;
    padding: 0;
    margin-top: -0.2rem;
    border: none;
}

.btn-add:hover {
    color: mediumblue;
}

#log-save-btn > img {
    height: 20px;
    width: 20px;
    filter: invert(1);
}

#log-save-btn > img:hover {
    height: 20px;
    width: 20px;
}

#servers-popup-delete-btn {
    display: none;
}

.message-name, .template-name, .template-server {
    white-space: nowrap;
}

.card-body {
    overflow-x: scroll;
}

.card-body::-webkit-scrollbar {
    display: none;
}
