body {
    height: 100%;
    max-height: 100%;
}

.navbar {
    background-color: mediumblue;
}

.navbar-brand {
    color: azure !important;
}

.navbar-brand > img {
    filter: invert(1);
    max-height: 30px;
}

.badge {
    background-color: azure;
    color: mediumblue;
    float: right;
    margin-left: 2px;
    margin-top: 1.5px;
}

.list-group-item.active > .badge {
    background-color: mediumblue;
    color: azure;
}

.list-group-item {
    padding: .25rem .5rem;
    background-color: mediumblue;
    color: azure;
    cursor: pointer;
}

.list-group-item:hover {
    background-color: royalblue;
    color: azure;
}

.list-group-item.active {
    background-color: azure;
    color: mediumblue;
    cursor: default;
}

.list-group-item.disabled {
    cursor: default;
}

#servers-list > .list-group-item.disabled {
    background-color: darkblue;
    color: azure;
}

#topics-list > .list-group-item.no-topics,
#servers-list > .list-group-item.no-servers,
.no-messages, .no-templates {
    background-color: mediumblue;
    border: none;
    color: azure;
    cursor: default;
}

.no-servers, .no-topics {
    margin-left: -3px;
}

.no-messages, .no-templates {
    margin-left: 5px;
}

.scrollbar-blue::-webkit-scrollbar, .scrollbar-white::-webkit-scrollbar {
    width: 5px;
}

.scrollbar-blue::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: white;
}

.scrollbar-blue::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: mediumblue;
}

.scrollbar-white::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: mediumblue;
}

.scrollbar-white::-webkit-scrollbar-track-piece {
    border-radius: 10px;
    background-color: mediumblue;
}

.scrollbar-white::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: white;
}

*:focus {
    box-shadow: none !important;
}

.btn-mediumblue {
    background-color: mediumblue;
    color: azure;
}

.btn-mediumblue:hover {
    background-color: royalblue;
    color: azure;
}

.text-mediumblue {
    color: mediumblue;
}

.left-side-div, .right-side-div {
    min-width: 40vw;
}