<!DOCTYPE HTML>
<html lang="ru">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    {% block libs %}{% endblock %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" type="text/css" rel="stylesheet"/>
    {% block styles %}{% endblock %}
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light justify-content-center">
        <a class="navbar-brand" href="#">
            <img src="/favicon.ico" alt="Kafka logo">
            kafka-template-debug-util
        </a>

    </nav>
</header>
<div class="container-fluid">
    {% block content %}{% endblock %}
</div>
{% block scripts %}{% endblock %}
</body>
</html>