{% extends "base.jinja" %}

{% block title %}
    kafka-template-debug-util
{% endblock %}

{% block content %}
    <div class="container-fluid mt-1 d-flex">
        <div class="container-fluid d-flex flex-column left-side-div">
            <div class="container-fluid d-flex servers-topics-div p-0">
                <div class="servers-window window">
                    <div class="d-flex justify-content-between">
                        <h5>Servers</h5>
                        <button class="btn btn-outline-light btn-add" id="servers-add-btn">+</button>
                    </div>
                    <div class="list-group overflow-scroll" id="servers-list" role="tablist">
                        {% if addresses %}
                            {% for address in addresses %}
                                <div id="server-{{ address.id }}"
                                     class="list-group-item list-group-item-action {% if loop.first %}active{% endif %}"
                                     data-bs-toggle="list" role="tab">
                                    <span>{{ address.host }}:{{ address.port }}</span>
                                    {% if address.name %}
                                        <span class="badge rounded-pill">{{ address.name }}</span>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        {% else %}
                            <a class="list-group-item list-group-item-action no-servers" data-bs-toggle="list"
                               role="tab">No servers</a>
                        {% endif %}
                    </div>
                </div>
                <div class="topics-window window">
                    <div class="d-flex justify-content-between">
                        <h5>Topics</h5>
                        <button class="btn btn-outline-light btn-add" id="topics-add-btn">+</button>
                    </div>
                    <div class="list-group overflow-auto" id="topics-list" role="tablist">
                        <a class="list-group-item list-group-item-action no-topics" data-bs-toggle="list"
                           role="tab">No topics</a>
                    </div>
                </div>
            </div>
            <div class="messages-window window">
                <div class="d-flex justify-content-between">
                    <h5>Messages</h5>
                    <button class="btn btn-outline-light btn-add" id="messages-add-btn">+</button>
                </div>
                {% if messages %}
                    <div id="messages-table" class="row row-cols-3 row-cols-md-3 g-1 scrollbar-white">
                        {% for message in messages %}
                            <div class="col">
                                <div class="card message-card" id="message-{{ message.id }}">
                                    <div class="card-body message-card-body">
                                        {% if message.name != null %}
                                            <h6 class="card-title message-name"
                                                id="message-{{ message.id }}-name">{{ message.name }}</h6>
                                        {% endif %}
                                        <p class="card-text message-content"
                                           id="message-{{ message.id }}-text">{{ message.content }}</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="no-messages">No messages</div>
                {% endif %}
            </div>
            <div class="templates-window window">
                <div class="d-flex justify-content-between">
                    <h5>Templates</h5>
                    <button class="btn btn-outline-light btn-add" id="templates-add-btn">+</button>
                </div>
                {% if templates %}
                    <div id="templates-table" class="row row-cols-3 row-cols-md-3 g-1 scrollbar-white">
                        {% for template in templates %}
                            <div class="col">
                                <div class="card template-card" id="template-{{ template.id }}">
                                    <div class="card-body template-card-body">
                                        {% if template.name != null %}
                                            <h6 class="card-title template-name">{{ template.name }}</h6>
                                        {% endif %}
                                        <p class="card-text template-server text-secondary small">
                                            <span>{{ template.topic.name }}@{{ template.topic.address.host }}:{{ template.topic.address.port }}</span>
                                            <span class="visually-hidden">{{ template.topic.address.id }}</span>
                                            <span class="visually-hidden">{{ template.topic.id }}</span>
                                        </p>
                                        <p class="card-text template-content">{{ template.message }}</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="no-templates">No templates</div>
                {% endif %}
            </div>
        </div>
        <div class="container-fluid p-0 right-side-div">
            <div class="log-window window">
                <div class="d-flex justify-content-between">
                    <h5>Log</h5>
                    <a class="btn btn-add" id="log-save-btn">
                        <img src="/images/download.png" alt="Save icon">
                    </a>
                </div>
                <!--suppress HtmlFormInputWithoutLabel -->
                <textarea id="log" class="form-control scrollbar-white" readonly></textarea>
            </div>
            <div class="publish-window window">
                <div class="d-flex">
                    <button class="form-control btn-outline-light" id="publish-btn">Publish</button>
                    <label for="server" class="form-label mx-2 text-light w-100">
                        Server:
                        <input type="url" class="form-control" id="server" placeholder="localhost:9092">
                    </label>
                    <label for="topic" class="form-label text-light w-100">
                        Topic:
                        <input class="form-control" id="topic" placeholder="kafka-topic-name">
                    </label>
                </div>
                <!--suppress HtmlFormInputWithoutLabel -->
                <textarea id="message" class="form-control scrollbar-blue"
                          placeholder='{&#13;&#9;"url": "/api/hello",&#13;&#9;"data": "Type your JSON here",&#13;&#9;"hints": {&#13;&#9;&#9;"hint1": "{identifier} -> <random number>",&#13;&#9;&#9;"hint2": "{datetime} -> <current datetime>",&#13;&#9;&#9;"hint3": "This window is scrollable btw..."&#13;&#9;}&#13;}'></textarea>
            </div>
        </div>
    </div>
    {% include "popups/servers-popup.jinja" %}
    {% include "popups/topics-popup.jinja" %}
    {% include "popups/messages-popup.jinja" %}
    {% include "popups/templates-popup.jinja" %}
{% endblock %}

{% block scripts %}
    <script src="/js/servers.js"></script>
    <script src="/js/topics.js"></script>
    <script src="/js/messages.js"></script>
    <script src="/js/templates.js"></script>
    <script src="/js/index.js"></script>
    <script src="/js/log.js"></script>
{% endblock %}

{% block styles %}
    <link href="/css/index.css" type="text/css" rel="stylesheet">
{% endblock %}