{% extends "base.jinja" %}

{% block title %}
    Send
{% endblock %}

{% block content %}
    <div class="mt-5 text-center">
        <div id="message-form" class="form-control w-25 border-0 mx-auto">
            <div class="mb-3">
                <label for="address-input">Address: </label>
                <input class="form-control mt-1" id="address-input" type="text" name="address" placeholder="<host>:<port>">
            </div>
            <div class="mb-3">
                <label for="topic-input">Topic: </label>
                <input class="form-control mt-1" id="topic-input" type="text" name="topic" placeholder="Topic">
            </div>
            <div class="mb-3">
                <label for="message-input">Message: </label>
                <textarea class="form-control mt-1" id="message-input" name="message" placeholder="Message"></textarea>
            </div>
            <button id="publish-btn" class="btn btn-outline-primary">Publish</button>
        </div>
        <p id="messages" class="mt-3 border-info border-3"></p>
    </div>
    <div id="notifications"></div>
{% endblock %}

{% block scripts %}
    <script src="/js/send.js" type="text/javascript"></script>
{% endblock %}